{% extends 'women/base.html' %}

{%block content%}

<h1>Mattew Tkachenko</h1>
<h3>I am 19 years old and currently living in Belarus. I am studying at university and I am open to relocating. I have a strong knowledge of Python and I am adept at quickly understanding and solving complex problems with enthusiasm.

    If you wanna connect with me please, call me, or write me in telegram 
    @moneyscripti - tg
    +375(29)-243-91-17 BLR</h3>

<p><img src="images/cv_photo.png"></p>    

{%endblock%}